<%- include('../partials/html-head') %> 

<%- include('../partials/nav') %> 

<h1>Weapon list</h1>
<main id="list-page-main">
  <% profile.weapon.forEach(weapon => { %> 
    <div class="weapon-listing">
      <h2><%= weapon.name %></h2>
      <a href="/profiles/<%= profile._id %>/weapon/<%= weapon._id %>">
        <% if (weapon?.imageUrl) { %>
          <img src="<%= weapon.imageUrl %>" alt="<%= weapon.name %>">
        <% } else { %>
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="No image available ya dingus">
        <% } %>
      </a>
    </div>
  <% }) %> 
</main>

<%- include('../partials/footer') %> 