<%- include('../partials/html-head') %> 

<%- include('../partials/nav') %> 

<h1>Weapon list</h1>
<main id="list-page-main">
  <% profile.weapon.forEach(weapon => { %> 
    <div class="weapon-listing">
      <h2><%= weapon.name %></h2>
      <a href="/profiles/<%= profile._id %>/weapon/<%= weapon._id %>">
        <img src="<%= weapon.imageUrl %>" alt="<%= weapon.name %>">
      </a>
    </div>
  <% }) %> 
</main>

<%- include('../partials/footer') %> 