<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<main>
  <h1>Weapon Crafting Requirements Details</h1>
<!-- WEAPON INFO FROM MH API GOES HERE vvv -->
  <h2>Weapon Name: <%= weapon.name %></h2>
  <h2>Weapon Type: <%= weapon.type %></h2>
  <img src="<%= weapon.imageUrl %>" alt="<%= weapon.name %>">
  <ul id="mh-api">
    <% if (weapon.itemObjects.length) %> 
      <% weapon.itemObjects.forEach(listing => { %>
        <li>
          <h4>Item: <%= listing.itemDetailName %></h4>
        </li>
        <li>
          <h4>Required Amount: <%= listing.itemDetailQuantity %></h4>
        </li>
      <% }) %> 
  </ul>
<!-- USER ITEM INPUTS GO HERE vvv -->
  <table id="user-table">
    <thead>
      <form action="/profiles/<%= profile._id %>/weapon/<%= weapon._id %>" 
        method="POST">
        <label for="">
          <input type="text" name="itemUser" placeholder="Item Name">
        </label>
        <label for="">
          <input type="text" name="numberHeld" placeholder="Amount Held">
        </label>
        <button type="submit">Add Item to My List</button>
      </form>
      
      <ul id="user-item-list">
      <% weapon.userList.forEach(userListed=> { %>
        <li>Item Held: <%= userListed.itemUser %></li>
        <li>Quantity Held: <%= userListed.numberHeld %>
          <form 
          id="update-amount-form" 
          action="/profiles/<%= profile._id %>/weapon/<%= weapon._id %>?_method=PUT" 
          method="POST">
          <input name="itemId" hidden value="<%= userListed._id %>">
          <input type="text" name="numberHeld" placeholder="<%= userListed.numberHeld %>">
            <button type="submit">Update Amount Held</button>
          </form>
        </li>
        <form 
        id="remove-item-listing" 
        name="itemId"
        action="/profiles/<%= profile._id %>/weapon/<%= weapon._id %>?_method=DELETE" 
        method="POST">
          <input name="itemId" hidden value="<%= userListed._id %>">
          <button type="submit">Delete This Item Listing</button>
        </form>
      <% }) %> 
    </ul>
    </thead>
  </table>

  <form 
    action="/profiles/<%= profile._id %>/weapon/<%= weapon._id %>?_method=DELETE" 
    method="POST">
      <button type="submit">Delete Weapon</button>
  </form>
</main>
<%- include('../partials/footer') %> 