<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<main>
  <h1>Weapon Crafting Requirements Details</h1>
<!-- add all crafting details from MH API HERE!!! -->
<% console.log('weapon item objects is: ', weapon.itemObjects) %> 
  <h2><%= weapon.name %></h2>
  <img src="<%= weapon.imageUrl %>" alt="<%= weapon.name %>">
  <ul>
    <% if (weapon.itemObjects.length) %> 
      <% weapon.itemObjects.forEach(listing => { %>
        <li>
          <h4>Item: <%= listing.itemDetailName %></h4>
        </li>
        <li>
          <h4>Required Amount: <%= listing.itemDetailQuantity %></h4>
        </li>
      <% }) %> 
      </ul>
  <table>
    <thead>
      <form action="/profiles/<%= profile._id %>/weapon/<%= weapon._id %>" 
        method="POST">
        <label for="">
          <input type="text" name="">
        </label>
        <label for="">
          <input type="text" name="">
        </label>
      </form>
    </thead>
  </table>

  <form 
    action="/profiles/<%= profile._id %>/weapon/<%= weapon._id %>?_method=DELETE" 
    method="POST">
      <button type="submit">Delete Weapon</button>
  </form>
</main>
<%- include('../partials/footer') %> 