<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<h1>Weapon Crafting Requirements</h1>
<h2><%= weapon.name %></h2>
<img src="<%= weapon.image %>" alt="<%= weapon.name %>">

// add all crafting details from MH API HERE!!!

// add all user actions like finished functionality and delete functionality HERE!!!

// USE EJS

<%- include('../partials/footer') %> 