<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<h1>Weapon Crafting Requirements Details</h1>
<h2><%= weapon.name %></h2>
<img src="<%= weapon.imageUrl %>" alt="<%= weapon.name %>">
<table>
  <tr>
    <td>Item Name: <%= weapon.itemName %></td>
    <td>Required amount: <%= weapon.itemAmount %></td>
  </tr>
</table>
<!-- add all crafting details from MH API HERE!!! -->
<% if (weapon) { %>
  <% console.log("item name is ", weapon.itemName) %> 
  <% console.log("item amount is ", weapon.itemAmount) %> 
  <%# console.log("item combine is ", weapon.itemCombine) %> 
<table>
  <thead>
    <form 
      action="/profiles/<%= profile._id %>/weapon/<%= weapon._id %>" 
      method="POST"
      >
      <label for="userItemName">Item: </label>
      <input name="userItemName" type="text">
      <label for="userItemQuantity">Quantity Held: </label>
      <input name="userItemQuantity" type="number">
      <button type="submit">Add item to gathering list</button>
    </form>
  </thead>
  <tbody>
    <tr>
      <td>
        <!-- add finished checkbox here -->
      </td>
      <td>
        <form action="/profiles/<%= profile._id %>/weapon/<%= weapon._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete Weapon</button>
        </form>
        <!-- add delete functionality based off if finished === true -->
      </td>
    </tr>
  </tbody>
</table>
<% } else { %>
  <h3>No Items Needed</h3>
  <% } %>

<%- include('../partials/footer') %> 