<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %> 

<h1>Weapon Crafting Requirements Details</h1>
<h2><%= weapon.name %></h2>
<img src="<%= weapon.imageUrl %>" alt="<%= weapon.name %>">
<!-- add all crafting details from MH API HERE!!! -->
<% if (weapon) { %> 
  <% console.log("item name is", weapon.itemName) %> 
  <% console.log("item amount is", weapon.itemAmount) %> 
<table>
  <thead>
    <tr>
      <td>
        Item: <%# weapon.userItem.forEach(itemName => { %>
          <%#= itemName %> 
          <%# console.log("item name is: ", itemName) %> 
          <%# }) %> 
      </td>
      <!-- add item name in here ^^^ -->
      <td>
        Quantity Held
      </td>
      <!-- add item quanity here ^^^ -->
    </tr>
  </thead>
  <!-- add all user actions like finished functionality and delete functionality HERE!!! -->
  <tbody>
    <%# weapon.itemDetail.forEach(userItem => { %>
      <tr>
        <td>
          <!-- add finished checkbox here -->
        </td>
        <td>
          <form id="delete-weapon-button" action="/profile/weapon/<%= weapon._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Weapon</button>
          </form>
          <!-- add delete functionality based off if finished === true -->
        </td>
      </tr>
    <%# }) %>
  </tbody>
</table>
<% } else { %>
  <h3>No Items Needed</h3>
  <% } %>

<%- include('../partials/footer') %> 