<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main id="home-page">
  <h1>Good tidings, <%= user ? user.profile.name : "Hunter" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
  <% } %>
    <!-- <div id="hunter-profiles">
      <h2>Your Fellow Hunters:</h2>
      <%# if (user) { %> 
      <%# profiles.forEach(profile => { %>
        <%# if (profile.avatar) { %>
          <img src="<%#= profile.avatar %>" alt="<%#= profile.name %>">
        <%# } %>
      <%# }) %>
      <%# } %> 
    </div> -->
</main>

<%- include('./partials/footer') %>
