<%- include('./partials/html-head') %> 
<%- include('./partials/nav') %> 

<h1>WEAPON SEARCH RESULT</h1>
<h1><%= weapon.name %></h1>
<img src="<%= weapon.assets.image %>" alt="<%= weapon.name %>">
<p>Weapon Type: <%= weapon.type %></p>
// Add weapon type
// Add weapon name
// Add weapon upgrade materials required using itemSchema
  //Item Schema:
    // _id
    // name
    // quantity
<% weapon.upgradeMaterials.item.name.forEach(name => { %> 
  <tr>
    <td><%= upgradeMaterials.item.name %></td>
  </tr>
<% }) %>
<% weapon.upgradeMaterials.quantity.forEach(amount => { %>
  <tr>
    <td><%= upgradeMaterials.amount %></td>
  </tr>
<% }) %>
<p><%= weapon.upgradeMaterials[0].item.name %>: <%= weapon.upgradeMaterials[0].quantity %> </p>
<p><%= weapon.upgradeMaterials[1].item.name %>: <%= weapon.upgradeMaterials[1].quantity %> </p>
<p><%= weapon.upgradeMaterials[2].item.name %>: <%= weapon.upgradeMaterials[2].quantity %> </p>
<p><%= weapon.upgradeMaterials[3].item.name %>: <%= weapon.upgradeMaterials[3].quantity %> </p>
<p><%= weapon.upgradeMaterials[4].item.name %>: <%= weapon.upgradeMaterials[4].quantity %> </p>
<p><%= weapon.upgradeMaterials[5].item.name %>: <%= weapon.upgradeMaterials[5].quantity %> </p>
<p><%= weapon.upgradeMaterials[6].item.name %>: <%= weapon.upgradeMaterials[6].quantity %> </p>
<form action="/profiles/weapon" method="POST">
  <input type="text" name="name" hidden value="<% weapon.name %>">
  <input type="text" name="type" hidden value="<% weapon.type %>">
  <input type="text" name="imageURL" hidden value="<%= weapon.assets.image %>">
  <input type="text" name="requiredItems" hidden value="<%= name %>">
  <input type="text" name="itemname" hidden value="<%= amount %>">
  
  <button type="submit">Add to Crafting List</button>
</form>

<%- include('./partials/footer') %> 